{% extends "base.html" %}

{% block title %}
  <title>To-Do List</title>
{% endblock %}

{% block content %}
  <div class="content">
    <h2>To-Do List</h2>
    <div class="input-group">
      <a href="{% url 'core:create-task' %}" class="add-btn">Add Task</a>
    </div>
    <ul class="todo-list">
      {% for task in tasks %}
        <li>
          <form action="{% url 'core:toggle_status' task.id %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button
                type="submit"
                class="tag {{ task.status_class }}">
              {{ task.status_display }}
            </button>
          </form>
          <span><strong>Tag:</strong>{{ task.tags.all|join:", " }}</span>
          <span><strong>Task:</strong>{{ task.content }}</span>
          <span><strong>Deadline:</strong>{{ task.deadline }}</span>
          <span><strong>Created at:</strong>{{ task.created_at }}</span>

          <div style="margin-top: 10px">
            <a class="update" href="{% url 'core:update-task' task.pk %}">Редагувати</a>
            <a class="delete" href="#">Видалити</a>
          </div>

        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
