{% extends "base.html" %}


{% block content %}
  <div class="content">
    <h2>Tags</h2>
    <div class="input-group">

      <div class="input-group">
        <a href="{% url 'core:create-tag' %}" class="add-btn">Add Tag</a>
      </div>
      
    </div>
    <ul class="tags-list">
      {% for tag in tags %}
        <li>
          <h3>{{ tag.name }}</h3>
          <div style="margin-top: 10px">
            <a class="update" href="#">Редагувати</a>
            <form action="#" method="post" style="display: inline;">
              {% csrf_token %}
              <button type="submit" class="delete">Delete</button>
            </form>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}